page-home {

}
.img-wrap{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
}
.form-inputs{
    ion-item{
        padding-left: 0px;
    }
}